@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: 'Pathway Extreme', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calistoga', cursive;
    color: yellow;
}

h1 {
    font-size: 10rem;
    line-height: 1.1;
}

p,
a {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    color: yellow;
    text-decoration: inherit;
}
a:hover {
    color: cyan;
}

button {
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 700;
    background-color: magenta;
    cursor: pointer;
    transition: border-color 0.25s ease;
}
button:hover {
    border-color: cyan;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
    background-color: #242424;
    color: magenta;
    border-color: magenta;
    cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: magenta;
    }
    button {
        background-color: #f9f9f9;
    }
}
